scale value {
    min-width: 2em;
}

.item {
    margin: 0;
    padding: .3em;
    min-width: 2em;
    background-size: 1.6em;
    background-color: transparent;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: .2em center;
    border: 0px solid rgba(128,128,128,.1);
    border-bottom: 1px solid rgba(128,128,128,.2);
}

.icon {
    margin: 0 .1em;
    padding: 0em;
    min-width: 1.8em;
    min-height: 1.8em;
    background-size: 1.3em;
    /* background-color: rgba(255,255,255,.3); */
    /* box-shadow: .1em .1em .1em rgba(0,0,0,.1); */
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
    /* border: 1px solid rgba(128,128,128,.5); */
    border-radius: 50%;
}

.item .label {
    min-width: 0em;
    border: 0px solid #f00;
}
.item .scale {
    min-width: 4em;
    border: 0px solid #f00;
}
.item.level-1 .label {
    min-width: 6em;
    border: 0px solid #000;
}
.item.level-2 {
    min-width: 0em;
    padding: 0.1em 0.1em 0.1em 4.6em;
    background-position: 2.2em center;
}

.icon.icon-profile {
    background-image: url("./data/icons/list.svg");
}
.icon.icon-cpu,
.icon.icon-profile-turbo {
    background-image: url("./data/icons/cpu.svg");
}
.icon.icon-profile-fan-preset {
    background-image: url("./data/icons/fan.svg");
}

.icon.icon-gpu,
.icon.icon-gfx-mode {
    background-image: url("./data/icons/video-card.svg");
}

.icon.icon-ssd {
    background-image: url("./data/icons/ssd.svg");
}

.icon.icon-battery-charge-limit {
    background-image: url("./data/icons/battery.svg");
}

.icon.icon-screen-brightness {
    background-image: url("./data/icons/brightness-control.svg");
}

.icon.icon-keyboard-brightness {
    background-image: url("./data/icons/kbd.svg");
}

.icon.icon-fan-mode {
    background-image: url("./data/icons/life-line.svg");
}

.icon.icon-airplane-mode {
    background-image: url("./data/icons/airplane-flight.svg");
}
.icon.icon-airplane-mode-invert {
    background-image: url("./data/icons/airplane-sign-with-a-cross-for-phone-interface.svg");
}

.icon.icon-wifi {
    background-image: url("./data/icons/wifi.svg");
}

.icon.icon-wifi-power-save {
    background-image: url("./data/icons/fruit-power.svg");
}

.icon.icon-bluetooth {
    background-image: url("./data/icons/bluetooth.svg");
}

.icon.icon-sound-master {
    background-image: url("./data/icons/speaker.svg");
}

.icon.icon-sound-capture {
    background-image: url("./data/icons/mic.svg");
}

.icon.icon-sound-master-volume,
.icon.icon-sound-capture-volume {
    background-image: url("./data/icons/volume-controller.svg");
}

.icon.icon-nvidia {
    background-image: url("./data/icons/nvidia.svg");
}

statusbar label {
    margin: -.5em 0;
    padding: 0;
    opacity: .5;
}

statusbar label.copyright {
    font-size: .7em;
}

/* table */
.table .item.top {
    border-top: 1px solid rgba(128,128,128,.3);
}
.table .item.left {
    border-left: 1px solid rgba(128,128,128,.3);
}
.table .item {
    margin: 0;
    padding: 0 8px 0 8px;
    border-right: 1px solid rgba(128,128,128,.3);
    border-bottom: 1px solid rgba(128,128,128,.3);
}